@use "../abstracts/mediaQueries" as *;

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 0;
  min-height: 100vh;

  .title {
    z-index: 2;
    max-width: 20rem;
    padding: 0 0.5rem;
    h1 {
      z-index: 2;
      margin-bottom: 1rem;
    }
  }
}

@include respond(lg) {
  .header {
    .title {
      max-width: 25rem;
      padding: 2rem;
      h1 {
        span {
          font-size: 3rem;
        }
        font-size: 2rem;
      }
    }
  }
}
