$mainDark: rgb(14, 9, 37);
$secondaryDark: rgb(0, 10, 20);
$fontColorDark: rgb(46, 26, 121);
$fontColorLight: rgb(245, 239, 239);
$mainLight: rgb(252, 252, 252);
$mainBlue: rgb(81, 56, 224);
$mainPink: rgb(209, 45, 168);
