//using: variables, modules, partials, mixins, inheritance, nesting

@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "layout" as *;
@use "pages" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: $mainBlue;
}

body::-webkit-scrollbar-thumb {
  background-color: $mainPink;
}
